.container {
    background-color: #fcf7f7;
    min-height: 100vh;
  }
  
  .main {
    color: white;
    padding: 0 4em;
  }
  
  .grantsContainer {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
  }
  
  .grantInfo {
    padding: 2em;
    color: antiquewhite;
    background-color: rgb(253, 253, 253);
    border-radius: 2em;
    max-width: 65ch;
  }
  .footer {
    padding: 20px 0;
    background-color: #fff; /* Adjust color as needed */
}
 .container {
  display: flex;
  justify-content: center;
  
}
